*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

header{
    background-color: rgb(82, 102, 190);
    padding: 15px ;
    margin: 0%;
    font-family: sans-serif;
    display:block;
}
header div{
    background-color: rgb(82, 102, 190);
    padding: 15px;
    /* margin-left: 25%; */
    display: inline-flexbox;
}

header div nav{
    background-color: rgb(82, 102, 190);
    padding: 10px;
    width: 100%;
    height: 5vh;

}
header div nav ul{
    list-style-type: none;
    
    
}
header div nav ul {
    
    /* float:right; */
    margin-right: 20px;
    line-height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

header div nav ul li{
    display: inline-block;
    /* margin-left: 10px; */
    
}
header div nav ul li a{
    background-color: rgb(255, 255, 255);
    padding: 5%;
    margin-left: 30px;
   
}
a{
    
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    background-color: black;
    border-radius: 5%;
    border-color: rgb(10, 10, 9);
}
header div nav ul li a:link{
    background-color:white;
    color:black
}
header div nav ul li a:visited{
    color:rgb(151, 116, 44);
}

header div nav ul li a:hover{
    color:rgb(155, 19, 182);
}
header div nav ul li a:active{
    color: rgb(43, 247, 179)
}

h2{
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

p{
    margin-left: 10px;
    font-size: large;
    margin-right: 10px;
    line-height: 1.5;
}
main p b{
    font-size: x-large;
}