*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header div nav ul {
    background-color: rgba(82, 102, 190);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header div nav ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 0;
    border:2px solid white;
    border-radius: 6%;
    font-weight: 600; 
}
header div nav ul li a:link{
    background-color:white;
    color:black
}
header div nav ul li a:visited{
    color:rgb(151, 116, 44);
}

header div nav ul li a:hover{
    color:rgb(155, 19, 182);
}
header div nav ul li a:active{
    color: rgb(43, 247, 179)
}
h1{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'Lilita One', cursive;
    font-weight: 900;
}

div ol li{
    margin-left: 50px;
    
}
div ol li ul li{
    margin-left: 30px;
}
p{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 600;
font-family: 'VT323', monospace;
}
body{
    background-color: rgb(207, 207, 207);
}


